*.orig
*.filters
*.sln
*.vcxproj
*.xcodeproj
*.spv
build

*.ai
doc/movie/
doc/image
*.blend
*.eps
*.glb

bistro/
sun_tample/
thirdparty/bin_x64
.vs/
out/
doc/videos

submodule.txt

